@use 'variables' as *;

@mixin container {
  width: min(100% - 32px, 1350px);
  margin-inline: auto;
}

@mixin focus-ring {
  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 3px;
  }
}

@mixin uppercase {
  font-weight: 600;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}
