@use 'variables' as *;

@mixin container {
  width: 100%;
  padding-inline: 16px;

  @media (min-width: $bp-lg) {
    padding-inline: 136px;
  }
}

@mixin header-container {
  width: 100%;
  padding-inline: 40px;
}

@mixin focus-ring {
  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 3px;
  }
}

@mixin uppercase {
  font-weight: 600;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}
